@model Website.Models.Admin

@{
    ViewBag.Title = "Adminregister";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<body id="bg">
    <div class="page-wraper">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="account-form">
                    <div class="account-head" style="background-image:url('~/assets/images/background/bg2.jpg');">
                        <a href="index.html"><img src="~/assets/images/logo-white-2.png" alt=""></a>
                    </div>
                    <div class="account-form-inner">
                        <div class="account-container">
                            <div class="heading-bx left">
                                <h2 class="title-head">Register a new <span>Account</span></h2>
                                <p>Back to login page<a href="@Url.Action("Admin", "Home")">Click here</a></p>
                            </div>
                            <form class="contact-bx">
                                <table>
                                    <tr>
                                       <td> @Html.LabelFor(model => model.First_name)</td>
                                        <td>@Html.EditorFor(model => model.First_name, new { htmlAttributes = new { @class = "form-control" } })</td>
                                           <td> @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger" })</td>
                                    </tr>
                                    <tr>
                                       <td>@Html.LabelFor(model => model.Last_name)</td>
                                        <td>@Html.EditorFor(model => model.Last_name, new { htmlAttributes = new { @class = "form-control" } })</td>
                                            <td>@Html.ValidationMessageFor(model => model.Last_name, "", new { @class = "text-danger" })</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(model => model.DOB)</td>
                                        <td>@Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })</td>
                                    </tr>

                                    <tr>
                                        <td>@Html.LabelFor(model => model.gender)</td>
                                        
                                         <td>@Html.EnumDropDownListFor(model => model.gender, "Select", new { htmlAttributes = new { @class = "form-control" } })</td>
                                           <td>@Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(model => model.Contact)</td>
                                        <td>@Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(model => model.Email)</td>
                                         <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</td>
                                             <td>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</td>
                                       </tr>
                                    <tr>
                                       <td> @Html.LabelFor(model => model.Password)</td>
                                        
                                           <td> @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })</td>
                                            <td>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(model => model.userCategory)</td>
                                        
                                            <td>@Html.EnumDropDownListFor(model => model.userCategory, "", new { htmlAttributes = new { @class = "form-control" } })</td>
                                            <td>@Html.ValidationMessageFor(model => model.userCategory, "", new { @class = "text-danger" })</td>
                                        
                                    </tr>
                                    
                                    
                                    
                                    <tr>
                                        <td><button name="submit" type="submit" value="Submit" class="btn button-md">Login</button></td>
                                    </tr>
                                    </table>
                                </form>
                        </div>
                    </div>
                </div>


            </div>
            


        }

